$default-text: #464646 !default;
$secondary-text: #2a7ae4 !default;
$normal-text: #fff !default;

// This can be moved to another file if needed.
$body-background: #f5f5f5 !default;
$section-background: #fff !default;
