$call-to-action: #2a7ae4 !default;

// Text colors
$text-dark: #464646 !default;
$text-light: #fff !default;
$text-default: $text-dark;

// Background colors
$bg-dark: #f5f5f5 !default;
$bg-light: #fff !default;
$bg-default: $bg-dark;
