$padding-size: 1em !default;

// This screen sizes can be modified if the viewport changes.
$mobile: 360px !default;
$tablet: 768px !default;
$desktop: 992px !default;

// Newest
@mixin on-mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin responsive-padding {
  $default: calc(10% - ($padding-size * 3.5));
  padding: min($padding-size, $padding-size * 2) clamp($padding-size, $default, 10%);
}
